force-app-test/main/default/flows/AccountFlow2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>FinishAction</name>
        <label>Finish Action</label>
        <locationX>181</locationX>
        <locationY>307</locationY>
        <assignmentItems>
            <assignToReference>flowtb_event</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>e.force:refreshView</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowtb_minimize_utility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>true</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>CurrentRating</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!RatingDefaultChoice}&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>RatingDefaultChoice</elementReference>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>RatingPicklistChoices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account.Rating</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>CurrentRating</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>SelectedRating</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>RatingDefaultChoice</name>
        <dataType>String</dataType>
        <expression>If (IsBlank({!RecordRating}), &#39;Select a Rating&#39;, {!RecordRating})</expression>
    </formulas>
    <interviewLabel>AccountFlow2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rating Update</label>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>177</locationX>
        <locationY>210</locationY>
        <connector>
            <targetReference>FinishAction</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>flowtb_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescriptionField</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <elementReference>SelectedRating</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Display</name>
        <label>Display</label>
        <locationX>176</locationX>
        <locationY>108</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
        <fields>
            <name>RatingField</name>
            <choiceReferences>CurrentRating</choiceReferences>
            <choiceReferences>RatingPicklistChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CurrentRating</defaultSelectedChoiceReference>
            <fieldText>Rating</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DescriptionField</name>
            <defaultValue>
                <elementReference>flowtb_record.Description</elementReference>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Display</startElementReference>
    <status>Active</status>
    <variables>
        <name>flowtb_event</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowtb_minimize_utility</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>true</stringValue>
        </value>
    </variables>
    <variables>
        <name>flowtb_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>RecordRating</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>flowtb_record.Rating</elementReference>
        </value>
    </variables>
    <variables>
        <name>SelectedRating</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>RecordRating</elementReference>
        </value>
    </variables>
</Flow>
